<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
            
    
    <wb-module deploy-name="EV3">
                        
        
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
                        
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <dependent-module archiveName="EV3EJB.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/EV3EJB/EV3EJB">
            <dependency-type>uses</dependency-type>
        </dependent-module>
                        
        
        <property name="context-root" value="EV3"/>
                        
        
        <property name="java-output-path" value="/EV3/build/classes"/>
                    
    
    </wb-module>
        

</project-modules>
